<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>967057520275-umscf4nup09uup9jfic222cp937fdci7.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.967057520275-umscf4nup09uup9jfic222cp937fdci7</string>
	<key>API_KEY</key>
	<string>AIzaSyDbS6Xbz9p481dHWii4XM8HV-uSm0zorz4</string>
	<key>GCM_SENDER_ID</key>
	<string>967057520275</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.kino-puehddby.IdeaMemo</string>
	<key>PROJECT_ID</key>
	<string>ideamemo-2970c</string>
	<key>STORAGE_BUCKET</key>
	<string>ideamemo-2970c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:967057520275:ios:41305b2f5f2c18d3ce7f66</string>
</dict>
</plist>